In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
#read_table读取
pd.read_table('./data/table',header=None) #第一行成了列索引   现在被废除了

      0         1       2      3     4     5    6    7     8
0  word  precious   thing    are  very   few   in  the  word
1  that        is  reason  there    is  only  one  you   NaN

In [4]:
pd.read_csv('./data/table') #会变成一行

  word\tprecious\tthing\tare\tvery\tfew\tin\tthe\tword
0        that\tis\treason\tthere\tis\tonly\tone\tyou

In [17]:
pd.read_csv('./data/table',sep='\t',header=None,names=('asdfghjk'))  #告诉分隔是tab,默认,

             a       s      d     f     g    h    j     k
word  precious   thing    are  very   few   in  the  word
that        is  reason  there    is  only  one  you   NaN

In [18]:
import sqlite3

In [20]:
con = sqlite3.Connection('./data/data.sqlite')
df = pd.read_sql('select * from test',con) #读取sqlite文件
df.shape #千峰老师读取了2017年的天气情况

(1, 2)

In [21]:
df.head()

   test  test2
0     1      2

In [ ]:
df.to_sql('') #插入值   chunksize:大数据进行分块写入

In [26]:
df.to_sql('Test2',con,if_exists='append')

In [ ]:
df.to_sql('Test2',con,if_exists='fail')

In [28]:
#读取数据只读取一个属性
df = pd.read_sql('select test from test',con) #只读取了column tets
df

   test
0     1

In [30]:
#根据url读取网络上的csv
pd.read_csv('https://github.com/thephpleague/csv/commit/78eb2815ac342f0720f55368622d441585fcd91a')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 72, saw 2

In [31]:
df.to_json('./data/data.json')

In [32]:
df.to_html('./data/data.html')

In [33]:
df.to_clipboard()

In [ ]:
	test
0	1