In [5]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
import pymysql

In [3]:
con = pymysql.Connection(host='127.0.0.1',port=3306,user = 'root',password='1234',database='edu1',charset='utf8')
con

In [7]:
sql = 'select * from t_user'
df = pd.read_sql(sql,con)
df

   id username password emp_id
0   1      abv      123   None
1   2      cwl      123   None
2   3      cwl      123   None
3   4      cwl      123   None
4   5     chen      123   None
5   6       c1     1234   None
6   7      thh     None   None
7   8        9     None   None
8   9     None     None   None
9  10        2     None   None

In [15]:
df.shape

(10, 4)

In [10]:
#写数据  操作:60%时间都是在处理数据,清洗数据,数据挖掘
#保存
df.to_sql('t_user_python1',con) #不支持

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': not all arguments converted during string formatting

In [11]:
from sqlalchemy import create_engine

In [20]:
#engine = create_engine('mysql+mysqldb://root@localhost:3306/blog')
engine = create_engine('mysql+pymysql://root:1234@localhost:3306/edu1') #?charset=uft8 编码会报错
engine

Engine(mysql+pymysql://root:***@localhost:3306/edu1)

In [21]:
df.to_sql('t_user_python',engine)

In [22]:
df = DataFrame(np.random.randint(0,150,size=(6,3)),columns=['python','math','en'],index=list('asdfgh'))
df

   python  math   en
a      67   142   43
s      86   143   79
d      71   105    3
f     149    97   23
g      59    92  131
h       0   146   96

In [23]:
df = DataFrame(np.random.randint(0,150,size=(6,3)),columns=['python','math','en'],
               index=pd.MultiIndex.from_product([['张三','李四','王五'],['其中','期末']]))
df

       python  math   en
张三 其中       5   123   17
   期末     120   118   23
李四 其中      68   110   21
   期末     147     7   98
王五 其中      70    67   12
   期末      38    84  113

In [28]:
df.loc['张三':'李四']

       python  math  en
张三 其中       5   123  17
   期末     120   118  23
李四 其中      68   110  21
   期末     147     7  98

In [26]:
df

       python  math   en
张三 其中       5   123   17
   期末     120   118   23
李四 其中      68   110   21
   期末     147     7   98
王五 其中      70    67   12
   期末      38    84  113

In [30]:
df2 = DataFrame(np.random.randint(0,150,size=(3,3)),columns=['python','math','en'],
               index=['张三','李四','王五'])
df2

    python  math   en
张三     124   143  130
李四      87    65  135
王五     112     4   84

In [31]:
df2.loc['张三':'王五']

    python  math   en
张三     124   143  130
李四      87    65  135
王五     112     4   84

In [36]:
df2.iloc[1:2]

    python  math   en
李四      87    65  135

In [39]:
df2.iloc([0,])

TypeError: __call__() got multiple values for argument 'axis'

In [41]:
df3 = df.sort_index() #多重索引排序后可以解决

In [43]:
df3.loc['张三':'王五']

       python  math   en
张三 其中       5   123   17
   期末     120   118   23
李四 其中      68   110   21
   期末     147     7   98
王五 其中      70    67   12
   期末      38    84  113

In [44]:
#pandas数据处理    
#1.删除重复元素
df = DataFrame({'color':['red','blue','yellow','red'],'price':[10,15,20,10]})
df #有重复数据

    color  price
0     red     10
1    blue     15
2  yellow     20
3     red     10

In [45]:
df.drop_duplicates() #删除重复数据

    color  price
0     red     10
1    blue     15
2  yellow     20

In [46]:
#2.映射: 创建一个映射关系,字典就是一个映射关系, {key:value}
#replace函数:替换元素
df

    color  price
0     red     10
1    blue     15
2  yellow     20
3     red     10

In [51]:
df.replace({10:18,15:22,55:30},limit=1,inplace=True) #替换元素
df

    color  price
0     red     18
1    blue     22
2  yellow     20
3     red     18

In [59]:
df = DataFrame(np.random.randint(0,150,size=(100,3)),columns=['python','math','en'])
df

    python  math   en
0      100    82  140
1       92   112    9
2      113    50  112
3       64   143   84
4       25    62  133
5      126   122   75
6        1   124   29
7      137   111  141
8       83   128  143
9      124    66   26
10      40    60   43
11      14    82   84
12      15    48   89
13      25     0   35
14      87     7   66
15     148    52   68
16      77    59   23
17       0   124   65
18       6   118   89
19     138    35  113
20     117   136  118
21      43    35   88
22     100    47  137
23      14    66   74
24      79    93   20
25       6    36   83
26     115    80  127
27      23   118  149
28      16     0  124
29     112    37    2
..     ...   ...  ...
70       8   141  114
71      98   116   30
72     146    60   19
73     133    77   46
74     131    45   86
75      16    57  143
76      20    99  128
77       2   131  120
78      85   118   18
79      80   142   47
80     121    58   52
81      25    21    7
82      63   142  124
83     100    54   75
84      21    56   12
85       1    48   87
86      41    63   32
87      18   112   62
88     133    51   76
89     117   144   77
90      94   125  120
91      30    47  136
92     105   114   34
93      38    71   82
94     123    74    7
95      18   136  114
96     124    31   54
97     118    91  133
98      46    85  127
99      24   104   10

[100 rows x 3 columns]

In [56]:
df3 = DataFrame(np.random.randint(0,150,size=(3,3)),columns=['python','math','en'])
df3

   python  math   en
0      66   136   35
1      77    86  145
2      37    61   20

In [62]:
#分数统一加10分
df['python'] = df['python'].map(lambda x :x+10)
df

    python  math   en
0      130    82  140
1      122   112    9
2      143    50  112
3       94   143   84
4       55    62  133
5      156   122   75
6       31   124   29
7      167   111  141
8      113   128  143
9      154    66   26
10      70    60   43
11      44    82   84
12      45    48   89
13      55     0   35
14     117     7   66
15     178    52   68
16     107    59   23
17      30   124   65
18      36   118   89
19     168    35  113
20     147   136  118
21      73    35   88
22     130    47  137
23      44    66   74
24     109    93   20
25      36    36   83
26     145    80  127
27      53   118  149
28      46     0  124
29     142    37    2
..     ...   ...  ...
70      38   141  114
71     128   116   30
72     176    60   19
73     163    77   46
74     161    45   86
75      46    57  143
76      50    99  128
77      32   131  120
78     115   118   18
79     110   142   47
80     151    58   52
81      55    21    7
82      93   142  124
83     130    54   75
84      51    56   12
85      31    48   87
86      71    63   32
87      48   112   62
88     163    51   76
89     147   144   77
90     124   125  120
91      60    47  136
92     135   114   34
93      68    71   82
94     153    74    7
95      48   136  114
96     154    31   54
97     148    91  133
98      76    85  127
99      54   104   10

[100 rows x 3 columns]

In [66]:
def convert_level(x):
    if x<60:
        return '不及格'
    elif x<90:
        return '及格'
    else:
        return '优秀'
    
#加一列水平
df['level'] = df.mean(axis=1).map(convert_level)
df

    python  math   en level
0      130    82  140    优秀
1      122   112    9    及格
2      143    50  112    优秀
3       94   143   84    优秀
4       55    62  133    及格
5      156   122   75    优秀
6       31   124   29    及格
7      167   111  141    优秀
8      113   128  143    优秀
9      154    66   26    及格
10      70    60   43   不及格
11      44    82   84    及格
12      45    48   89    及格
13      55     0   35   不及格
14     117     7   66    及格
15     178    52   68    优秀
16     107    59   23    及格
17      30   124   65    及格
18      36   118   89    及格
19     168    35  113    优秀
20     147   136  118    优秀
21      73    35   88    及格
22     130    47  137    优秀
23      44    66   74    及格
24     109    93   20    及格
25      36    36   83   不及格
26     145    80  127    优秀
27      53   118  149    优秀
28      46     0  124   不及格
29     142    37    2    及格
..     ...   ...  ...   ...
70      38   141  114    优秀
71     128   116   30    优秀
72     176    60   19    及格
73     163    77   46    优秀
74     161    45   86    优秀
75      46    57  143    及格
76      50    99  128    优秀
77      32   131  120    优秀
78     115   118   18    及格
79     110   142   47    优秀
80     151    58   52    及格
81      55    21    7   不及格
82      93   142  124    优秀
83     130    54   75    及格
84      51    56   12   不及格
85      31    48   87   不及格
86      71    63   32   不及格
87      48   112   62    及格
88     163    51   76    优秀
89     147   144   77    优秀
90     124   125  120    优秀
91      60    47  136    及格
92     135   114   34    优秀
93      68    71   82    及格
94     153    74    7    及格
95      48   136  114    优秀
96     154    31   54    及格
97     148    91  133    优秀
98      76    85  127    优秀
99      54   104   10   不及格

[100 rows x 4 columns]

In [67]:
df['java'] = df['python'].map(lambda x:x+10)

In [69]:
df.corr() #相关性系数

          python      math        en      java
python  1.000000 -0.030622 -0.019008  1.000000
math   -0.030622  1.000000  0.104169 -0.030622
en     -0.019008  0.104169  1.000000 -0.019008
java    1.000000 -0.030622 -0.019008  1.000000

In [70]:
df['chinese'] = df['python'].map(lambda x:x**0.5)

In [71]:
df

    python  math   en level  java    chinese
0      130    82  140    优秀   140  11.401754
1      122   112    9    及格   132  11.045361
2      143    50  112    优秀   153  11.958261
3       94   143   84    优秀   104   9.695360
4       55    62  133    及格    65   7.416198
5      156   122   75    优秀   166  12.489996
6       31   124   29    及格    41   5.567764
7      167   111  141    优秀   177  12.922848
8      113   128  143    优秀   123  10.630146
9      154    66   26    及格   164  12.409674
10      70    60   43   不及格    80   8.366600
11      44    82   84    及格    54   6.633250
12      45    48   89    及格    55   6.708204
13      55     0   35   不及格    65   7.416198
14     117     7   66    及格   127  10.816654
15     178    52   68    优秀   188  13.341664
16     107    59   23    及格   117  10.344080
17      30   124   65    及格    40   5.477226
18      36   118   89    及格    46   6.000000
19     168    35  113    优秀   178  12.961481
20     147   136  118    优秀   157  12.124356
21      73    35   88    及格    83   8.544004
22     130    47  137    优秀   140  11.401754
23      44    66   74    及格    54   6.633250
24     109    93   20    及格   119  10.440307
25      36    36   83   不及格    46   6.000000
26     145    80  127    优秀   155  12.041595
27      53   118  149    优秀    63   7.280110
28      46     0  124   不及格    56   6.782330
29     142    37    2    及格   152  11.916375
..     ...   ...  ...   ...   ...        ...
70      38   141  114    优秀    48   6.164414
71     128   116   30    优秀   138  11.313708
72     176    60   19    及格   186  13.266499
73     163    77   46    优秀   173  12.767145
74     161    45   86    优秀   171  12.688578
75      46    57  143    及格    56   6.782330
76      50    99  128    优秀    60   7.071068
77      32   131  120    优秀    42   5.656854
78     115   118   18    及格   125  10.723805
79     110   142   47    优秀   120  10.488088
80     151    58   52    及格   161  12.288206
81      55    21    7   不及格    65   7.416198
82      93   142  124    优秀   103   9.643651
83     130    54   75    及格   140  11.401754
84      51    56   12   不及格    61   7.141428
85      31    48   87   不及格    41   5.567764
86      71    63   32   不及格    81   8.426150
87      48   112   62    及格    58   6.928203
88     163    51   76    优秀   173  12.767145
89     147   144   77    优秀   157  12.124356
90     124   125  120    优秀   134  11.135529
91      60    47  136    及格    70   7.745967
92     135   114   34    优秀   145  11.618950
93      68    71   82    及格    78   8.246211
94     153    74    7    及格   163  12.369317
95      48   136  114    优秀    58   6.928203
96     154    31   54    及格   164  12.409674
97     148    91  133    优秀   158  12.165525
98      76    85  127    优秀    86   8.717798
99      54   104   10   不及格    64   7.348469

[100 rows x 6 columns]

In [72]:
df.corr()

           python      math        en      java   chinese
python   1.000000 -0.030622 -0.019008  1.000000  0.995292
math    -0.030622  1.000000  0.104169 -0.030622 -0.027777
en      -0.019008  0.104169  1.000000 -0.019008 -0.024952
java     1.000000 -0.030622 -0.019008  1.000000  0.995292
chinese  0.995292 -0.027777 -0.024952  0.995292  1.000000

In [73]:
df['python'].map(lambda x:x+10)

0     140
1     132
2     153
3     104
4      65
5     166
6      41
7     177
8     123
9     164
10     80
11     54
12     55
13     65
14    127
15    188
16    117
17     40
18     46
19    178
20    157
21     83
22    140
23     54
24    119
25     46
26    155
27     63
28     56
29    152
     ...
70     48
71    138
72    186
73    173
74    171
75     56
76     60
77     42
78    125
79    120
80    161
81     65
82    103
83    140
84     61
85     41
86     81
87     58
88    173
89    157
90    134
91     70
92    145
93     78
94    163
95     58
96    164
97    158
98     86
99     64
Name: python, Length: 100, dtype: int64

In [74]:
df['chem'] = df['python'].map(lambda x:x/2)+ df['java'].map(lambda x:x/2)

In [75]:
df

    python  math   en level  java    chinese   chem
0      130    82  140    优秀   140  11.401754  135.0
1      122   112    9    及格   132  11.045361  127.0
2      143    50  112    优秀   153  11.958261  148.0
3       94   143   84    优秀   104   9.695360   99.0
4       55    62  133    及格    65   7.416198   60.0
5      156   122   75    优秀   166  12.489996  161.0
6       31   124   29    及格    41   5.567764   36.0
7      167   111  141    优秀   177  12.922848  172.0
8      113   128  143    优秀   123  10.630146  118.0
9      154    66   26    及格   164  12.409674  159.0
10      70    60   43   不及格    80   8.366600   75.0
11      44    82   84    及格    54   6.633250   49.0
12      45    48   89    及格    55   6.708204   50.0
13      55     0   35   不及格    65   7.416198   60.0
14     117     7   66    及格   127  10.816654  122.0
15     178    52   68    优秀   188  13.341664  183.0
16     107    59   23    及格   117  10.344080  112.0
17      30   124   65    及格    40   5.477226   35.0
18      36   118   89    及格    46   6.000000   41.0
19     168    35  113    优秀   178  12.961481  173.0
20     147   136  118    优秀   157  12.124356  152.0
21      73    35   88    及格    83   8.544004   78.0
22     130    47  137    优秀   140  11.401754  135.0
23      44    66   74    及格    54   6.633250   49.0
24     109    93   20    及格   119  10.440307  114.0
25      36    36   83   不及格    46   6.000000   41.0
26     145    80  127    优秀   155  12.041595  150.0
27      53   118  149    优秀    63   7.280110   58.0
28      46     0  124   不及格    56   6.782330   51.0
29     142    37    2    及格   152  11.916375  147.0
..     ...   ...  ...   ...   ...        ...    ...
70      38   141  114    优秀    48   6.164414   43.0
71     128   116   30    优秀   138  11.313708  133.0
72     176    60   19    及格   186  13.266499  181.0
73     163    77   46    优秀   173  12.767145  168.0
74     161    45   86    优秀   171  12.688578  166.0
75      46    57  143    及格    56   6.782330   51.0
76      50    99  128    优秀    60   7.071068   55.0
77      32   131  120    优秀    42   5.656854   37.0
78     115   118   18    及格   125  10.723805  120.0
79     110   142   47    优秀   120  10.488088  115.0
80     151    58   52    及格   161  12.288206  156.0
81      55    21    7   不及格    65   7.416198   60.0
82      93   142  124    优秀   103   9.643651   98.0
83     130    54   75    及格   140  11.401754  135.0
84      51    56   12   不及格    61   7.141428   56.0
85      31    48   87   不及格    41   5.567764   36.0
86      71    63   32   不及格    81   8.426150   76.0
87      48   112   62    及格    58   6.928203   53.0
88     163    51   76    优秀   173  12.767145  168.0
89     147   144   77    优秀   157  12.124356  152.0
90     124   125  120    优秀   134  11.135529  129.0
91      60    47  136    及格    70   7.745967   65.0
92     135   114   34    优秀   145  11.618950  140.0
93      68    71   82    及格    78   8.246211   73.0
94     153    74    7    及格   163  12.369317  158.0
95      48   136  114    优秀    58   6.928203   53.0
96     154    31   54    及格   164  12.409674  159.0
97     148    91  133    优秀   158  12.165525  153.0
98      76    85  127    优秀    86   8.717798   81.0
99      54   104   10   不及格    64   7.348469   59.0

[100 rows x 7 columns]

In [76]:
s = df['python']

In [2]:
s.transform()

NameError: name 's' is not defined

In [81]:
df['price'] = np.random.randint(150,699,size=100)

In [82]:
df['count1'] = np.random.randint(2,10,size=100)

In [84]:
df['total'] = df.price * df.count1

In [86]:
df.head()

   python  math   en level  java    chinese   chem  price  count1  total
0     130    82  140    优秀   140  11.401754  135.0    583       9   5247
1     122   112    9    及格   132  11.045361  127.0    437       7   3059
2     143    50  112    优秀   153  11.958261  148.0    439       2    878
3      94   143   84    优秀   104   9.695360   99.0    505       5   2525
4      55    62  133    及格    65   7.416198   60.0    282       7   1974

In [90]:
df.rename({0:'A'},inplace=True)
df

    python  math   en level  java    chinese   chem  price  count1  total
A      130    82  140    优秀   140  11.401754  135.0    583       9   5247
1      122   112    9    及格   132  11.045361  127.0    437       7   3059
2      143    50  112    优秀   153  11.958261  148.0    439       2    878
3       94   143   84    优秀   104   9.695360   99.0    505       5   2525
4       55    62  133    及格    65   7.416198   60.0    282       7   1974
5      156   122   75    优秀   166  12.489996  161.0    410       8   3280
6       31   124   29    及格    41   5.567764   36.0    554       9   4986
7      167   111  141    优秀   177  12.922848  172.0    190       5    950
8      113   128  143    优秀   123  10.630146  118.0    652       4   2608
9      154    66   26    及格   164  12.409674  159.0    269       3    807
10      70    60   43   不及格    80   8.366600   75.0    437       6   2622
11      44    82   84    及格    54   6.633250   49.0    639       8   5112
12      45    48   89    及格    55   6.708204   50.0    511       2   1022
13      55     0   35   不及格    65   7.416198   60.0    543       7   3801
14     117     7   66    及格   127  10.816654  122.0    375       5   1875
15     178    52   68    优秀   188  13.341664  183.0    439       3   1317
16     107    59   23    及格   117  10.344080  112.0    398       7   2786
17      30   124   65    及格    40   5.477226   35.0    247       2    494
18      36   118   89    及格    46   6.000000   41.0    355       2    710
19     168    35  113    优秀   178  12.961481  173.0    238       9   2142
20     147   136  118    优秀   157  12.124356  152.0    632       3   1896
21      73    35   88    及格    83   8.544004   78.0    270       8   2160
22     130    47  137    优秀   140  11.401754  135.0    359       3   1077
23      44    66   74    及格    54   6.633250   49.0    315       5   1575
24     109    93   20    及格   119  10.440307  114.0    264       5   1320
25      36    36   83   不及格    46   6.000000   41.0    265       8   2120
26     145    80  127    优秀   155  12.041595  150.0    510       3   1530
27      53   118  149    优秀    63   7.280110   58.0    205       4    820
28      46     0  124   不及格    56   6.782330   51.0    594       8   4752
29     142    37    2    及格   152  11.916375  147.0    155       3    465
..     ...   ...  ...   ...   ...        ...    ...    ...     ...    ...
70      38   141  114    优秀    48   6.164414   43.0    604       7   4228
71     128   116   30    优秀   138  11.313708  133.0    556       7   3892
72     176    60   19    及格   186  13.266499  181.0    211       9   1899
73     163    77   46    优秀   173  12.767145  168.0    440       9   3960
74     161    45   86    优秀   171  12.688578  166.0    420       7   2940
75      46    57  143    及格    56   6.782330   51.0    246       8   1968
76      50    99  128    优秀    60   7.071068   55.0    290       9   2610
77      32   131  120    优秀    42   5.656854   37.0    637       7   4459
78     115   118   18    及格   125  10.723805  120.0    436       9   3924
79     110   142   47    优秀   120  10.488088  115.0    219       9   1971
80     151    58   52    及格   161  12.288206  156.0    230       5   1150
81      55    21    7   不及格    65   7.416198   60.0    465       9   4185
82      93   142  124    优秀   103   9.643651   98.0    480       2    960
83     130    54   75    及格   140  11.401754  135.0    185       4    740
84      51    56   12   不及格    61   7.141428   56.0    570       6   3420
85      31    48   87   不及格    41   5.567764   36.0    471       5   2355
86      71    63   32   不及格    81   8.426150   76.0    430       6   2580
87      48   112   62    及格    58   6.928203   53.0    614       2   1228
88     163    51   76    优秀   173  12.767145  168.0    526       3   1578
89     147   144   77    优秀   157  12.124356  152.0    311       2    622
90     124   125  120    优秀   134  11.135529  129.0    362       7   2534
91      60    47  136    及格    70   7.745967   65.0    619       7   4333
92     135   114   34    优秀   145  11.618950  140.0    475       9   4275
93      68    71   82    及格    78   8.246211   73.0    582       7   4074
94     153    74    7    及格   163  12.369317  158.0    163       3    489
95      48   136  114    优秀    58   6.928203   53.0    429       2    858
96     154    31   54    及格   164  12.409674  159.0    522       3   1566
97     148    91  133    优秀   158  12.165525  153.0    695       2   1390
98      76    85  127    优秀    86   8.717798   81.0    595       3   1785
99      54   104   10   不及格    64   7.348469   59.0    203       4    812

[100 rows x 10 columns]

In [92]:
df = DataFrame(np.random.randn(10000,3),columns = ['red','green','blue'])
df

           red     green      blue
0     0.254497 -0.301285 -0.902065
1     1.023085  0.020141  1.275599
2    -1.480178  0.051401  0.667707
3    -0.450265 -0.246447 -1.706467
4     0.104213 -1.979931  1.022413
5     1.865005  0.935069 -1.656163
6    -1.860394 -0.519454  0.454258
7    -0.967426 -0.259622  0.486533
8    -0.578710  0.943180 -0.047863
9    -0.650456 -1.329882 -0.310405
10    0.636200  0.364155  0.181431
11   -0.442884 -0.410991  0.261922
12   -1.481433  0.064764  0.353433
13    0.636866  1.201731 -0.460641
14    0.429153 -1.676804 -0.412135
15    0.414667 -1.827173 -0.447836
16   -1.640459 -0.066667 -0.059376
17    1.557824  0.305708  0.533951
18    0.680577  0.586195  0.357828
19   -0.939739  1.705327 -0.102753
20   -0.196041  0.269281 -0.488839
21   -1.028893  0.192908  1.454071
22    1.116932 -1.430497 -2.064604
23    0.190538  0.161172  0.491630
24    0.141295  0.888808 -0.376390
25   -0.604744 -0.600387  0.213215
26   -1.001595 -1.181498 -0.134504
27   -1.158424 -0.247787 -0.301925
28    1.310186  0.102292  0.142157
29   -0.600525 -1.692496 -1.417910
...        ...       ...       ...
9970  1.125035 -0.005601  1.169438
9971  0.541955 -0.111331  1.261627
9972 -0.005975 -0.108089 -1.132867
9973 -0.219912  1.479337  2.751521
9974 -0.381224 -0.148844 -0.464450
9975 -0.508877 -1.229255 -0.653429
9976  0.473652 -0.917097 -1.620503
9977 -1.360242  1.440564 -1.939390
9978  1.864773  1.734620  0.066603
9979 -0.416021  0.449708 -0.351530
9980  1.449080  1.086689 -1.424928
9981 -0.608823 -0.527669  0.005276
9982 -0.043691 -0.032855 -2.569551
9983 -1.332214 -0.522507 -0.119384
9984 -0.816859 -1.173841  0.441485
9985  0.210617  0.411659  0.632577
9986  0.475018  1.269439 -0.220918
9987  0.902176  1.394295 -1.913139
9988  1.574254  1.983180  0.292863
9989  1.568397  0.686170 -0.900224
9990 -2.598514  1.027162 -0.423202
9991  0.647797  0.282743  1.043167
9992  0.316180 -1.302166 -1.250349
9993  1.370744 -0.570561 -2.436759
9994  0.523542  0.451720  0.235202
9995 -0.159889  2.370944 -0.442211
9996 -1.248003 -2.240394  0.097503
9997 -0.050715 -0.320751 -1.200703
9998 -0.181010  1.016766  0.165954
9999 -0.819658  1.742599  0.708817

[10000 rows x 3 columns]

In [94]:
cond = df.abs() - df.mean() > 3*df.std() #把大于标准的异常值找到
cond.sum()

red      34
green    30
blue     22
dtype: int64

In [97]:
cond = cond.any(axis=1) #大于标准的异常值
df[cond] #这是大于标准的异常值

           red     green      blue
60    1.111334  0.121993 -3.021541
68   -3.350640  0.300391 -0.828701
89   -2.349589  3.659010  1.643124
137  -1.298539 -1.231876 -3.432785
285  -3.718413 -1.635056  0.477120
895   3.182216  1.128460  0.779976
996   3.580634 -0.578940  1.666183
1191 -3.167737  0.066576 -1.903805
1346  0.395014 -3.155236 -0.101667
1366 -3.748877  0.216078  0.494556
1492 -3.239705 -0.490606  0.948956
1743 -0.359724 -0.426820 -3.706873
1852  1.539059  1.579227  3.306208
1866 -3.030719 -0.045289 -1.380542
2093 -0.309810 -3.105412  1.399913
2160 -0.629860 -2.549364 -3.268583
2181 -1.131161 -0.002700  3.396645
2184  0.367812 -3.228254  0.992418
2219  1.217004  0.451446  2.995167
2378  3.172663  1.091930 -0.866767
2555 -0.318833  3.588925 -0.994866
2565 -2.255522  3.052756 -0.121957
2587 -0.509423  3.377236  0.277346
2768  0.831461 -3.678272 -0.294075
2941 -3.169343 -0.384736  0.772564
2966  3.389767 -2.281019  0.450070
3245 -0.020689 -3.098993  1.356640
3346  0.553495 -1.787957  3.137065
3425 -1.326661 -0.226844  3.295008
3685  0.403709 -3.074432  0.284563
...        ...       ...       ...
5908  1.364688 -1.618324 -3.219392
5922  0.708749 -0.603875 -3.527765
6064 -3.259951 -0.836157 -2.021750
6376 -0.356874  3.025462  0.502173
6537 -3.306675  0.055489 -2.261120
6558 -2.182420 -3.562399 -0.132050
6730 -1.145495 -3.273097 -0.305781
6859  3.768144  0.598715 -0.266281
6882 -3.310201  1.456966 -0.175533
6932 -3.188892  0.180976  0.520213
6941  3.158015  0.892382  0.745060
7215 -0.295116 -0.484208  3.339464
7274 -3.417626  0.528397  0.574567
7732  0.672147  3.049299  1.531893
7994 -0.509475 -3.664373  0.305999
8066  3.110048  0.597962  1.555584
8299 -1.471672 -0.866524 -3.128748
8358  0.688653  3.361709 -0.674323
8369  1.285767 -3.104013 -0.477677
8382  1.507920 -0.432327 -3.092552
8423  0.599943  3.632050  1.681594
8505 -1.349497  3.046359 -0.697434
8524 -3.285919 -0.299110 -0.072771
8799  0.039757  3.283016 -0.200574
8811 -0.751427 -3.828268 -0.093550
9009  3.304459  0.709409 -0.439170
9064 -0.121555 -0.749839  3.229737
9474 -0.687587  3.341638  0.293671
9544 -0.268092 -0.391889 -3.073413
9904 -0.597429 -3.011796 -0.859134

[86 rows x 3 columns]

In [100]:
df2 = df.drop(labels=df[cond].index) #删除异常数据

In [101]:
df2.shape

(9914, 3)

In [102]:
9914/10000

0.9914

In [103]:
df.sort_values(by = 'red',ascending=False) #排序

           red     green      blue
4367  3.854047  0.846746 -0.795904
6859  3.768144  0.598715 -0.266281
996   3.580634 -0.578940  1.666183
2966  3.389767 -2.281019  0.450070
9009  3.304459  0.709409 -0.439170
5514  3.299404 -1.227920  0.794663
4730  3.256272 -1.220957  0.608189
895   3.182216  1.128460  0.779976
2378  3.172663  1.091930 -0.866767
6941  3.158015  0.892382  0.745060
8066  3.110048  0.597962  1.555584
4629  3.026528  0.197013 -0.791367
4759  3.020816 -0.524151 -1.683207
566   2.938186 -1.395396 -0.181518
9284  2.931212  0.989436  0.306334
453   2.881080  0.413013 -0.134535
1459  2.876990 -2.347919  1.355298
9655  2.866543  1.499236 -1.919774
667   2.821356 -2.054422 -1.322844
9170  2.816334 -0.790457 -0.594788
894   2.814279 -1.069942 -1.510769
8657  2.812932  1.495141  1.503189
3058  2.803209  1.324000  0.049080
4795  2.785906  2.153021 -1.626962
7510  2.784869 -1.690926 -1.299314
8735  2.784859 -0.111905 -0.260764
6675  2.780663  0.484511  1.085399
6024  2.770335 -0.189727  0.839265
882   2.768517 -0.289279 -0.669899
9540  2.767915 -0.520265 -0.157333
...        ...       ...       ...
3532 -2.812972  0.277806  0.299747
5841 -2.860637 -1.085373  0.685042
1331 -2.864392  0.961478  0.494353
3432 -2.871272 -2.742525 -0.726927
761  -2.916754  1.482772  0.354115
488  -2.922511  0.482453 -0.046957
4084 -2.924740  0.306330  0.097375
1838 -2.926407  0.131939 -0.257560
4312 -2.947697  0.667907  0.881659
1866 -3.030719 -0.045289 -1.380542
5327 -3.061052 -0.171177  0.628288
5693 -3.151978 -2.202333 -0.366742
3695 -3.162818 -0.913781 -0.059010
1191 -3.167737  0.066576 -1.903805
2941 -3.169343 -0.384736  0.772564
6932 -3.188892  0.180976  0.520213
1492 -3.239705 -0.490606  0.948956
6064 -3.259951 -0.836157 -2.021750
5487 -3.262287 -0.707461 -0.891563
8524 -3.285919 -0.299110 -0.072771
6537 -3.306675  0.055489 -2.261120
6882 -3.310201  1.456966 -0.175533
68   -3.350640  0.300391 -0.828701
4281 -3.376130 -1.021672  0.344176
7274 -3.417626  0.528397  0.574567
4538 -3.522024  1.412677 -0.715863
4721 -3.541942 -1.264787  1.518304
4126 -3.606875  1.875651 -1.980905
285  -3.718413 -1.635056  0.477120
1366 -3.748877  0.216078  0.494556

[10000 rows x 3 columns]

In [104]:
df.shape

(10000, 3)

In [105]:
index = np.random.randint(0,10000,size = 1000)
index #有可能重复,随机的数字

array([9434, 4053, 5816, 3248,  541, 8052, 1725,  433, 8873,  338, 6535,
       7816, 3744,  833, 2631, 7135, 6967, 6576, 4829, 3864, 7708, 7149,
       7637, 9243, 6684,  443, 8996, 8136, 3302, 9340, 6415, 4676, 3283,
       1651, 3166, 3622, 2758,  831, 9379, 6698,  820, 8386, 6468, 9194,
       3694, 6156, 8030, 6651, 9414, 1888, 2504, 9346, 2188, 3046, 1636,
       4589, 1617, 6963, 8332, 4959, 4516, 7216, 5291, 1387, 1650, 1886,
       4906, 5597, 3801, 9707, 5412, 2262, 4971, 5102, 3848, 6999, 1468,
       8723, 6476, 4560,  161,  912, 4789, 1929, 8987, 3102, 7231, 7580,
       6975, 3894, 3218, 1006, 4445, 8107, 4647,  804, 9628, 7617, 5119,
       8430, 3283, 3897, 2653,  439, 8123,  735, 7589, 6816, 5961,   12,
       5890, 2687, 2914, 1917, 7769, 8478, 7808, 1852, 5823, 5246, 6332,
       9402, 1100,  663, 3742, 3709, 5279,   41, 4711, 8430,  247, 6934,
       1394, 8507, 9513, 5512, 8611, 3860, 1921,  538, 1610, 5335, 6620,
       9665, 9898,  703, 8342, 5694, 7948, 6747,  388, 2400, 4352, 7227,
         56, 4490, 3636, 7374, 5591,  721, 2359, 6871, 8227, 5526, 3582,
       3225, 6694, 3283,  680, 5016, 3289, 4768, 6902, 2541, 4957, 4696,
       1942, 9012, 1019, 6776, 6796, 6976, 1853, 4138, 1931, 4548, 2499,
       8732, 3321, 2929, 8146, 3419, 2204, 1105, 1808, 1516,  705, 4804,
       2512, 9154, 1470, 1580, 8526, 9307, 3150,  538, 1131, 2762, 7410,
       7609, 8014, 3015, 7200, 6159, 6100,  165, 4039, 7837, 4287, 5819,
       1683, 7706, 2256, 5368, 8180, 5178, 9302, 3928, 8877, 4412, 7198,
       9743, 4976, 7997, 3593, 5347, 7309, 6166, 6008, 5414, 4710, 3262,
       2782, 9468, 5928,  907, 3429, 6008,  935, 3795, 3086, 6989, 1498,
       6911, 8481, 1144, 1098, 2150, 5574, 8953, 8897, 6088,  840, 6974,
       1889,  890, 3281, 9341, 6051, 5500,  958, 9862, 6351, 4168, 8435,
       9235, 3097, 4157, 4301, 2846, 8180, 1212, 2658, 7701, 3384, 4574,
       3137, 2844,  647, 7917,  947, 7681, 7872, 8029, 2114, 9319, 7264,
       8340, 3029, 6482, 1158, 8375, 2842,  341, 3508,  726, 1337, 8445,
       2953, 3355, 8904, 9073, 8450, 8291, 3803, 5618, 4770, 2934, 6751,
       9278,  431, 6001, 5763, 6736, 3954, 5684, 7404, 9527, 7715, 3351,
       8240, 8897, 2298, 2530, 8726, 4939, 5062, 7113, 6869, 6996, 6686,
       2253, 6608, 4781, 9505, 5637,    8, 1079, 2094, 5142, 6014, 6677,
       2383, 9056, 5954, 9646, 1989, 1020, 7856, 2755, 6602, 7709, 4454,
       1821, 5369, 4764, 3373, 5869, 5275, 1877, 5901, 4937, 3159, 9045,
       6023, 2080, 6581, 6101, 2827, 7330, 6913, 4848, 2717, 7584, 9195,
       8437, 8233, 4635, 1142, 6646, 1943,   51, 9153, 8904, 9559, 2591,
       5988, 6756, 1837, 7241, 4957, 1436,   17, 1978, 1470, 5605, 6022,
        216, 3275, 8018, 9025,  610, 7170, 9925, 7947, 7055, 1954, 4351,
       4632, 2804, 1527,  524, 6532, 5984, 2716, 1829, 1979, 6896, 7833,
       6647, 8032, 4459, 8322, 3277, 7773, 5323, 7358, 1065, 6074, 7898,
       4879, 9829, 3200, 5247, 1227, 7953, 5494, 6823,  453, 9120, 7899,
       1012, 3190, 2035, 9516, 2274, 5816, 9329, 9091, 7720, 6370, 5354,
        998, 5892, 5571, 8376, 5674, 7532,   38,  704, 5163, 6443, 4123,
       3192,  973, 9442, 9429,  923, 5117, 2992, 1103, 7991, 6603, 8635,
       1613, 8120, 2718, 7479, 4199, 5961, 2408, 2996, 6341,  413, 2276,
       6467, 9019, 6469, 2001, 2786, 1742, 7377, 5761, 9241, 3024,  126,
       6415, 9908, 3729, 3532, 4878, 5704,  326, 1481, 2159, 7703, 3778,
       5563, 5485, 8349, 7019, 8019, 8405, 6243, 6486, 1922, 8254, 5684,
       3918, 8595, 3694, 6104, 5447, 6960, 8581, 1295, 3524, 3687, 4441,
         95, 8800, 7953, 6507, 3697,  306, 3760, 2165, 1426, 3293, 3250,
       7132, 8032, 9539, 9021,  365, 9661, 2885, 8021, 7271, 1797, 5370,
        458, 9001,  507, 7280, 2661, 6203, 8875, 9200, 6813, 1702, 9400,
       8826, 1452, 9197, 4383, 6339, 2553, 6912,  752, 3698, 4263, 7897,
       3006, 8320, 7728, 2217, 5853,   22, 7234, 5319, 9313, 3975, 7950,
       4696, 5115, 6918, 5249, 8007, 6769, 6326, 6921, 7552, 2615, 4803,
       9288, 6434, 3917,  712, 6715, 8715, 8788, 6654, 9240, 3087, 7595,
       1797, 4443, 9229, 1454, 3363, 4552,  993, 1280, 9340, 9378, 6539,
       5785, 7247, 2923, 2679, 4412, 2502,  369, 6388, 5748, 1219, 8423,
       6079, 4975, 4462, 5447, 6419, 4171, 3515, 1447, 5954, 7353, 7610,
       6690, 8071, 2302,  705, 9052, 6237, 8964,  447, 5429, 3853, 7822,
       2278, 2125, 8988, 2842, 1347, 6036, 2782, 6450, 6202, 2186, 1254,
        839, 4698, 8075, 4031, 2981, 6576, 7348, 5452, 6170,  926, 8634,
        987, 2815, 9458, 4205, 6234, 9479, 7688, 1415, 7793, 3234, 5245,
       8952,  708, 1755, 9276, 1029, 9220,  812, 9023, 4261, 7011, 6542,
       3112, 9556, 6380, 1719, 3446, 9762, 5948, 7021, 8253, 9574, 8299,
       2545,  865, 8824, 8983, 2422, 3215, 4845,  544, 4030,  278, 3655,
       9306, 4073, 2566, 5242, 5766, 7416, 6078, 3761, 4733, 8673, 7691,
       1484, 9416, 5561, 8534,  511, 7035, 1832, 8782, 7494, 7604, 9034,
       1981, 2526, 3909,  219, 5019, 6472, 6952,  703,  424, 1837, 6777,
       7634, 5787, 6819, 5648,  584, 5805, 4485, 8797,  370, 6564, 6832,
       4196, 4727, 3910, 6696, 8900, 3844, 6708, 6524, 9808, 8603,  173,
       7839, 7443, 6145, 3469, 7962, 7253, 6608, 2034, 9934, 2984,  553,
       5694, 5621, 8180, 7713,  361, 4053, 4109, 4695, 2872,    1,  677,
       1712,   76,  192, 6140, 2291, 3522, 5728, 3200, 7115, 3694, 7073,
       5117, 5258, 6173, 5467, 6545, 6863,  698, 7647, 8607, 7854, 3574,
       6340,  931, 8654, 8768, 9458, 1428, 7960, 1410, 5455, 8523, 8772,
       8056, 1793, 3936, 6655, 3475, 8009, 8433, 4710,  862, 5520, 2781,
       2802, 5306, 1043, 5291, 6241, 8921, 6408, 2679, 9890, 5259, 9076,
       6000, 7142, 4617, 7171, 9924, 5642,  959, 7631, 6365, 1627, 4240,
       3492, 8970, 8922, 8609, 1250, 4383, 6145, 6966,  402, 3525, 7435,
       2755,  793, 4019, 9947, 6182, 2319, 4630, 1321,  584, 2209,  102,
       8647, 8206, 5511, 5304, 2903, 9232, 5414, 5018, 3326, 4256, 9175,
       7412, 4090, 7897, 6740, 9336, 5653, 9713, 5298, 7436, 8846, 9550,
        835,  980, 1318, 5659, 5086, 7089, 2062, 2212, 9669, 4965, 9250,
       9221, 9163, 1487, 4981, 5459, 2121,  637, 5249, 6525, 1198, 4275,
       6849, 7716, 4687,  839, 1948, 2223, 8198, 4196, 3742, 6871, 6503,
       2096,  490, 8938, 3518, 2055, 4307, 3590, 4404, 1104, 8772, 3356,
       5197, 4789, 8178, 7626, 9962, 2414, 1715, 3402, 5535,  504, 2664,
       1702, 2871, 8546, 7108, 5996, 7896, 8317, 6604, 8776, 7594, 2290,
       5769, 7711, 9516, 2070, 4892, 4682, 8454, 6468, 4093, 9787, 1385,
       7004, 8748, 1431, 4290,  364, 5608, 9231, 1861,  726, 5846])

In [106]:
#随机抽样

In [107]:
df.take(index) #按照这个顺序去抽样 takle 拿

           red     green      blue
9434 -1.012611 -0.162500  0.847709
4053 -0.204479  1.214238 -1.193727
5816  0.984699  0.420982 -0.942560
3248 -0.294921 -1.504947  0.238837
541   0.572105  0.651277  0.934755
8052  0.711729 -1.178075  1.381616
1725 -2.448096 -1.752877 -0.126703
433   0.520844 -0.925359  1.157865
8873 -0.687215 -0.226970 -1.437434
338   1.386447 -0.092278 -0.055398
6535 -1.259960 -0.145434  0.719319
7816 -0.592923  0.151726  1.460227
3744 -1.116974  0.350415  0.115031
833   1.907523 -0.807099 -0.099804
2631  1.129426  0.625831  1.428390
7135 -0.563583 -0.466504 -2.070052
6967 -0.039984 -0.641503 -1.640903
6576 -0.650072 -0.964526 -0.844828
4829  0.125564 -0.014070  0.106442
3864  0.973411 -0.278560 -0.394405
7708 -0.673870  0.053861  2.140489
7149 -0.701181 -0.244465  0.312201
7637  0.603266 -0.698883 -0.474120
9243  0.549758 -0.221676 -1.605739
6684 -2.282682  0.293868  0.293363
443  -0.134189  1.819163 -0.753986
8996 -0.037631 -0.870027  1.100280
8136  0.871176 -1.848489  0.844456
3302 -0.849111  0.432637  0.953719
9340  1.495704  0.279978  0.522943
...        ...       ...       ...
8546  0.925469 -0.625738 -0.467644
7108  1.894758  0.792369 -1.377924
5996 -0.443420 -1.208142 -0.542752
7896 -1.039023  0.503664 -0.916557
8317 -0.332818 -0.194182  0.947247
6604 -0.375550 -1.233568 -0.225803
8776 -0.237221 -1.144606  0.695655
7594  0.731186  1.583582 -0.855290
2290  0.385899  1.066644 -1.058241
5769 -1.040496 -0.025130 -1.407228
7711 -1.367522 -2.163194  0.559080
9516  0.798742 -1.154222  0.297894
2070  0.684977  0.351698 -2.008842
4892  0.628844 -0.855115 -0.580037
4682 -0.848454  0.455317  0.343676
8454  0.688481  0.267811  0.731879
6468 -0.405576  0.707583 -0.692550
4093  1.581711  0.776054 -0.119024
9787  0.232067 -0.238127 -1.779615
1385 -0.866069 -0.088243  0.268660
7004  0.010419  0.915369  0.229437
8748  0.581988  1.318543 -0.512463
1431 -0.840625  0.671024 -0.176954
4290 -0.057566 -0.244268 -1.259770
364  -0.376027  2.188306 -0.781208
5608  0.357952  0.373558  1.122784
9231 -0.737564 -0.275840 -1.562802
1861  0.567504  0.797746 -1.005133
726   1.522521  1.176423  0.863422
5846  0.216537  0.865637 -0.032570

[1000 rows x 3 columns]

In [ ]:
#随机抽样