In [3]:
import matplotlib.pyplot as plt
%matplotlib inline

import numpy as np

import pandas as pd
from pandas import Series,DataFrame

In [7]:
apple = DataFrame(np.random.randint(1,10,size=(5,7)))
apple

   0  1  2  3  4  5  6
0  9  1  6  1  3  6  1
1  4  5  9  7  9  2  5
2  3  3  2  8  3  9  6
3  6  1  4  2  9  6  3
4  7  8  1  6  7  1  8

In [8]:
display(apple.shape ,apple.head())

(5, 7)

   0  1  2  3  4  5  6
0  9  1  6  1  3  6  1
1  4  5  9  7  9  2  5
2  3  3  2  8  3  9  6
3  6  1  4  2  9  6  3
4  7  8  1  6  7  1  8

In [9]:
apple.dtypes

0    int32
1    int32
2    int32
3    int32
4    int32
5    int32
6    int32
dtype: object

In [11]:
type(apple[4][2])

numpy.int32

In [12]:
appl = apple.copy() #深拷贝

In [13]:
apple[0] = pd.to_datetime(apple[0]) #类型转换成时间

In [14]:
apple

                              0  1  2  3  4  5  6
0 1970-01-01 00:00:00.000000009  1  6  1  3  6  1
1 1970-01-01 00:00:00.000000004  5  9  7  9  2  5
2 1970-01-01 00:00:00.000000003  3  2  8  3  9  6
3 1970-01-01 00:00:00.000000006  1  4  2  9  6  3
4 1970-01-01 00:00:00.000000007  8  1  6  7  1  8

In [15]:
grouped = apple.groupby(1)

In [17]:
apple.set_index(0,inplace=True)

In [19]:
apple.head()

                               1  2  3  4  5  6
0
1970-01-01 00:00:00.000000009  1  6  1  3  6  1
1970-01-01 00:00:00.000000004  5  9  7  9  2  5
1970-01-01 00:00:00.000000003  3  2  8  3  9  6
1970-01-01 00:00:00.000000006  1  4  2  9  6  3
1970-01-01 00:00:00.000000007  8  1  6  7  1  8

In [18]:
grouped.resample('M') #M就是根据月

DatetimeIndexResamplerGroupby [freq=<MonthEnd>, axis=0, closed=right, label=right, convention=e, base=0]

In [20]:
#因为股票价格,每一天都在波动
#分组属性,必须有共同的属性
grouped.resample('M').mean() #按照月进行采样

                1    2    3    4    5    6
1 0
1 1970-01-31  1.0  5.0  1.5  6.0  6.0  2.0
3 1970-01-31  3.0  2.0  8.0  3.0  9.0  6.0
5 1970-01-31  5.0  9.0  7.0  9.0  2.0  5.0
8 1970-01-31  8.0  1.0  6.0  7.0  1.0  8.0

In [21]:
apple.index

DatetimeIndex(['1970-01-01 00:00:00.000000009',
               '1970-01-01 00:00:00.000000004',
               '1970-01-01 00:00:00.000000003',
               '1970-01-01 00:00:00.000000006',
               '1970-01-01 00:00:00.000000007'],
              dtype='datetime64[ns]', name=0, freq=None)

In [30]:
df = DataFrame(np.random.randint(1,10,size=(5,7)))
df

   0  1  2  3  4  5  6
0  8  4  9  9  7  1  6
1  1  9  6  8  4  3  7
2  1  5  3  2  9  5  1
3  9  7  8  6  9  7  6
4  9  1  8  5  3  3  6

In [38]:
df.plot()

TypeError: Cannot interpret '<attribute 'dtype' of 'numpy.generic' objects>' as a data type