In [1]:
#数据清洗:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

In [3]:
df = DataFrame(np.random.randint(0,150,size=(150,3)),columns=['Python','Math','En'])
df

     Python  Math   En
0        61    77  137
1        93    61  123
2       137    76   26
3         6     5  116
4       135    45   70
5       137    83    0
6       146    22   45
7       132    38   12
8        76    54  148
9        74     8   35
10       48    38   68
11      134   126   27
12      106    71   37
13       11    12   97
14      117   133   99
15       66    52  137
16      118    95  135
17       83    11  137
18        5   142  113
19       52   135  144
20       12    67  144
21       72    38   31
22       35    43   41
23      113    87   77
24       37    19  111
25       21    68   90
26       92    79   37
27       39    32  116
28       44    28  105
29       63    43   68
..      ...   ...  ...
120      22   127   27
121     134    79   44
122      16   146   86
123      41    32   82
124      30   115  100
125      19   141   70
126      57   145   10
127       4   131  115
128     111    57  123
129      63    51   50
130     125   133  127
131      30     7   43
132      64    63   61
133      15   142   76
134     135    80   78
135      73   104   36
136      53   121   71
137      79    28   36
138     119   124  135
139      98   146  110
140     104   140   63
141      74    92  147
142      94    20  108
143     149    14    8
144       5    67    2
145     141    60   68
146      44    92  141
147      84   116  142
148      25    59  126
149      83    63   54

[150 rows x 3 columns]

In [4]:
for i in range(15):
    index = np.random.randint(0,150,size=1)[0]
    column = np.random.randint(0,3,size=1)[0]
    df.iloc[index,column] = None

In [5]:
df

     Python   Math     En
0      61.0   77.0  137.0
1      93.0   61.0  123.0
2     137.0   76.0   26.0
3       6.0    5.0  116.0
4     135.0   45.0   70.0
5     137.0   83.0    0.0
6     146.0   22.0   45.0
7     132.0   38.0   12.0
8      76.0   54.0  148.0
9      74.0    8.0   35.0
10     48.0   38.0    NaN
11    134.0  126.0    NaN
12    106.0   71.0   37.0
13     11.0   12.0   97.0
14    117.0  133.0    NaN
15     66.0   52.0  137.0
16    118.0   95.0  135.0
17     83.0   11.0  137.0
18      5.0  142.0  113.0
19     52.0  135.0  144.0
20     12.0   67.0  144.0
21      NaN   38.0   31.0
22     35.0   43.0   41.0
23    113.0   87.0   77.0
24     37.0   19.0  111.0
25     21.0   68.0   90.0
26     92.0   79.0   37.0
27     39.0   32.0  116.0
28     44.0   28.0  105.0
29     63.0   43.0   68.0
..      ...    ...    ...
120    22.0  127.0   27.0
121   134.0   79.0   44.0
122    16.0    NaN    NaN
123    41.0    NaN   82.0
124    30.0  115.0  100.0
125    19.0  141.0   70.0
126    57.0  145.0   10.0
127     4.0  131.0  115.0
128   111.0   57.0  123.0
129    63.0   51.0   50.0
130   125.0  133.0  127.0
131    30.0    7.0   43.0
132    64.0   63.0   61.0
133    15.0  142.0   76.0
134   135.0   80.0   78.0
135    73.0  104.0   36.0
136    53.0  121.0   71.0
137     NaN   28.0    NaN
138   119.0  124.0  135.0
139    98.0  146.0  110.0
140   104.0  140.0   63.0
141    74.0   92.0  147.0
142    94.0   20.0  108.0
143   149.0   14.0    8.0
144     5.0   67.0    2.0
145   141.0   60.0   68.0
146    44.0   92.0  141.0
147    84.0  116.0  142.0
148    25.0   59.0  126.0
149    83.0   63.0   54.0

[150 rows x 3 columns]

In [10]:
df.info

<bound method DataFrame.info of      Python   Math     En
0      61.0   77.0  137.0
1      93.0   61.0  123.0
2     137.0   76.0   26.0
3       6.0    5.0  116.0
4     135.0   45.0   70.0
5     137.0   83.0    0.0
6     146.0   22.0   45.0
7     132.0   38.0   12.0
8      76.0   54.0  148.0
9      74.0    8.0   35.0
10     48.0   38.0    NaN
11    134.0  126.0    NaN
12    106.0   71.0   37.0
13     11.0   12.0   97.0
14    117.0  133.0    NaN
15     66.0   52.0  137.0
16    118.0   95.0  135.0
17     83.0   11.0  137.0
18      5.0  142.0  113.0
19     52.0  135.0  144.0
20     12.0   67.0  144.0
21      NaN   38.0   31.0
22     35.0   43.0   41.0
23    113.0   87.0   77.0
24     37.0   19.0  111.0
25     21.0   68.0   90.0
26     92.0   79.0   37.0
27     39.0   32.0  116.0
28     44.0   28.0  105.0
29     63.0   43.0   68.0
..      ...    ...    ...
120    22.0  127.0   27.0
121   134.0   79.0   44.0
122    16.0    NaN    NaN
123    41.0    NaN   82.0
124    30.0  115.0  100.0
125    19.0  141.0   70.0
126    57.0  145.0   10.0
127     4.0  131.0  115.0
128   111.0   57.0  123.0
129    63.0   51.0   50.0
130   125.0  133.0  127.0
131    30.0    7.0   43.0
132    64.0   63.0   61.0
133    15.0  142.0   76.0
134   135.0   80.0   78.0
135    73.0  104.0   36.0
136    53.0  121.0   71.0
137     NaN   28.0    NaN
138   119.0  124.0  135.0
139    98.0  146.0  110.0
140   104.0  140.0   63.0
141    74.0   92.0  147.0
142    94.0   20.0  108.0
143   149.0   14.0    8.0
144     5.0   67.0    2.0
145   141.0   60.0   68.0
146    44.0   92.0  141.0
147    84.0  116.0  142.0
148    25.0   59.0  126.0
149    83.0   63.0   54.0

[150 rows x 3 columns]>

In [15]:
cond = df.isnull().any(axis = 1) #返回的还是一个dataframe
df[cond]

     Python   Math    En
10     48.0   38.0   NaN
11    134.0  126.0   NaN
14    117.0  133.0   NaN
21      NaN   38.0  31.0
30    116.0    NaN  73.0
55      NaN   80.0  18.0
78    148.0    NaN  80.0
83     91.0    NaN  59.0
109   147.0    NaN  69.0
115    41.0   27.0   NaN
122    16.0    NaN   NaN
123    41.0    NaN  82.0
137     NaN   28.0   NaN

In [19]:
#非空数据
cond = df.notnull().all(axis=1) #这一行都不为空
df[cond]

     Python   Math     En
0      61.0   77.0  137.0
1      93.0   61.0  123.0
2     137.0   76.0   26.0
3       6.0    5.0  116.0
4     135.0   45.0   70.0
5     137.0   83.0    0.0
6     146.0   22.0   45.0
7     132.0   38.0   12.0
8      76.0   54.0  148.0
9      74.0    8.0   35.0
12    106.0   71.0   37.0
13     11.0   12.0   97.0
15     66.0   52.0  137.0
16    118.0   95.0  135.0
17     83.0   11.0  137.0
18      5.0  142.0  113.0
19     52.0  135.0  144.0
20     12.0   67.0  144.0
22     35.0   43.0   41.0
23    113.0   87.0   77.0
24     37.0   19.0  111.0
25     21.0   68.0   90.0
26     92.0   79.0   37.0
27     39.0   32.0  116.0
28     44.0   28.0  105.0
29     63.0   43.0   68.0
31     43.0   85.0   30.0
32     26.0   60.0   55.0
33     38.0   74.0    7.0
34     78.0  104.0   49.0
..      ...    ...    ...
117    18.0   69.0   68.0
118    70.0   66.0   31.0
119     7.0   10.0  113.0
120    22.0  127.0   27.0
121   134.0   79.0   44.0
124    30.0  115.0  100.0
125    19.0  141.0   70.0
126    57.0  145.0   10.0
127     4.0  131.0  115.0
128   111.0   57.0  123.0
129    63.0   51.0   50.0
130   125.0  133.0  127.0
131    30.0    7.0   43.0
132    64.0   63.0   61.0
133    15.0  142.0   76.0
134   135.0   80.0   78.0
135    73.0  104.0   36.0
136    53.0  121.0   71.0
138   119.0  124.0  135.0
139    98.0  146.0  110.0
140   104.0  140.0   63.0
141    74.0   92.0  147.0
142    94.0   20.0  108.0
143   149.0   14.0    8.0
144     5.0   67.0    2.0
145   141.0   60.0   68.0
146    44.0   92.0  141.0
147    84.0  116.0  142.0
148    25.0   59.0  126.0
149    83.0   63.0   54.0

[137 rows x 3 columns]

In [21]:
df.dropna() #将null的删除

     Python   Math     En
0      61.0   77.0  137.0
1      93.0   61.0  123.0
2     137.0   76.0   26.0
3       6.0    5.0  116.0
4     135.0   45.0   70.0
5     137.0   83.0    0.0
6     146.0   22.0   45.0
7     132.0   38.0   12.0
8      76.0   54.0  148.0
9      74.0    8.0   35.0
12    106.0   71.0   37.0
13     11.0   12.0   97.0
15     66.0   52.0  137.0
16    118.0   95.0  135.0
17     83.0   11.0  137.0
18      5.0  142.0  113.0
19     52.0  135.0  144.0
20     12.0   67.0  144.0
22     35.0   43.0   41.0
23    113.0   87.0   77.0
24     37.0   19.0  111.0
25     21.0   68.0   90.0
26     92.0   79.0   37.0
27     39.0   32.0  116.0
28     44.0   28.0  105.0
29     63.0   43.0   68.0
31     43.0   85.0   30.0
32     26.0   60.0   55.0
33     38.0   74.0    7.0
34     78.0  104.0   49.0
..      ...    ...    ...
117    18.0   69.0   68.0
118    70.0   66.0   31.0
119     7.0   10.0  113.0
120    22.0  127.0   27.0
121   134.0   79.0   44.0
124    30.0  115.0  100.0
125    19.0  141.0   70.0
126    57.0  145.0   10.0
127     4.0  131.0  115.0
128   111.0   57.0  123.0
129    63.0   51.0   50.0
130   125.0  133.0  127.0
131    30.0    7.0   43.0
132    64.0   63.0   61.0
133    15.0  142.0   76.0
134   135.0   80.0   78.0
135    73.0  104.0   36.0
136    53.0  121.0   71.0
138   119.0  124.0  135.0
139    98.0  146.0  110.0
140   104.0  140.0   63.0
141    74.0   92.0  147.0
142    94.0   20.0  108.0
143   149.0   14.0    8.0
144     5.0   67.0    2.0
145   141.0   60.0   68.0
146    44.0   92.0  141.0
147    84.0  116.0  142.0
148    25.0   59.0  126.0
149    83.0   63.0   54.0

[137 rows x 3 columns]

In [23]:
df.drop(labels=['En'],axis=1)

     Python   Math
0      61.0   77.0
1      93.0   61.0
2     137.0   76.0
3       6.0    5.0
4     135.0   45.0
5     137.0   83.0
6     146.0   22.0
7     132.0   38.0
8      76.0   54.0
9      74.0    8.0
10     48.0   38.0
11    134.0  126.0
12    106.0   71.0
13     11.0   12.0
14    117.0  133.0
15     66.0   52.0
16    118.0   95.0
17     83.0   11.0
18      5.0  142.0
19     52.0  135.0
20     12.0   67.0
21      NaN   38.0
22     35.0   43.0
23    113.0   87.0
24     37.0   19.0
25     21.0   68.0
26     92.0   79.0
27     39.0   32.0
28     44.0   28.0
29     63.0   43.0
..      ...    ...
120    22.0  127.0
121   134.0   79.0
122    16.0    NaN
123    41.0    NaN
124    30.0  115.0
125    19.0  141.0
126    57.0  145.0
127     4.0  131.0
128   111.0   57.0
129    63.0   51.0
130   125.0  133.0
131    30.0    7.0
132    64.0   63.0
133    15.0  142.0
134   135.0   80.0
135    73.0  104.0
136    53.0  121.0
137     NaN   28.0
138   119.0  124.0
139    98.0  146.0
140   104.0  140.0
141    74.0   92.0
142    94.0   20.0
143   149.0   14.0
144     5.0   67.0
145   141.0   60.0
146    44.0   92.0
147    84.0  116.0
148    25.0   59.0
149    83.0   63.0

[150 rows x 2 columns]

In [29]:
cond=df.isnull().any(axis=1)
index = df[cond].index
index

Int64Index([10, 11, 14, 21, 30, 55, 78, 83, 109, 115, 122, 123, 137], dtype='int64')

In [31]:
df2 = df.drop(labels=index)
df2

     Python   Math     En
0      61.0   77.0  137.0
1      93.0   61.0  123.0
2     137.0   76.0   26.0
3       6.0    5.0  116.0
4     135.0   45.0   70.0
5     137.0   83.0    0.0
6     146.0   22.0   45.0
7     132.0   38.0   12.0
8      76.0   54.0  148.0
9      74.0    8.0   35.0
12    106.0   71.0   37.0
13     11.0   12.0   97.0
15     66.0   52.0  137.0
16    118.0   95.0  135.0
17     83.0   11.0  137.0
18      5.0  142.0  113.0
19     52.0  135.0  144.0
20     12.0   67.0  144.0
22     35.0   43.0   41.0
23    113.0   87.0   77.0
24     37.0   19.0  111.0
25     21.0   68.0   90.0
26     92.0   79.0   37.0
27     39.0   32.0  116.0
28     44.0   28.0  105.0
29     63.0   43.0   68.0
31     43.0   85.0   30.0
32     26.0   60.0   55.0
33     38.0   74.0    7.0
34     78.0  104.0   49.0
..      ...    ...    ...
117    18.0   69.0   68.0
118    70.0   66.0   31.0
119     7.0   10.0  113.0
120    22.0  127.0   27.0
121   134.0   79.0   44.0
124    30.0  115.0  100.0
125    19.0  141.0   70.0
126    57.0  145.0   10.0
127     4.0  131.0  115.0
128   111.0   57.0  123.0
129    63.0   51.0   50.0
130   125.0  133.0  127.0
131    30.0    7.0   43.0
132    64.0   63.0   61.0
133    15.0  142.0   76.0
134   135.0   80.0   78.0
135    73.0  104.0   36.0
136    53.0  121.0   71.0
138   119.0  124.0  135.0
139    98.0  146.0  110.0
140   104.0  140.0   63.0
141    74.0   92.0  147.0
142    94.0   20.0  108.0
143   149.0   14.0    8.0
144     5.0   67.0    2.0
145   141.0   60.0   68.0
146    44.0   92.0  141.0
147    84.0  116.0  142.0
148    25.0   59.0  126.0
149    83.0   63.0   54.0

[137 rows x 3 columns]

In [27]:
df[cond]

     Python   Math     En
0      61.0   77.0  137.0
1      93.0   61.0  123.0
2     137.0   76.0   26.0
3       6.0    5.0  116.0
4     135.0   45.0   70.0
5     137.0   83.0    0.0
6     146.0   22.0   45.0
7     132.0   38.0   12.0
8      76.0   54.0  148.0
9      74.0    8.0   35.0
12    106.0   71.0   37.0
13     11.0   12.0   97.0
15     66.0   52.0  137.0
16    118.0   95.0  135.0
17     83.0   11.0  137.0
18      5.0  142.0  113.0
19     52.0  135.0  144.0
20     12.0   67.0  144.0
22     35.0   43.0   41.0
23    113.0   87.0   77.0
24     37.0   19.0  111.0
25     21.0   68.0   90.0
26     92.0   79.0   37.0
27     39.0   32.0  116.0
28     44.0   28.0  105.0
29     63.0   43.0   68.0
31     43.0   85.0   30.0
32     26.0   60.0   55.0
33     38.0   74.0    7.0
34     78.0  104.0   49.0
..      ...    ...    ...
117    18.0   69.0   68.0
118    70.0   66.0   31.0
119     7.0   10.0  113.0
120    22.0  127.0   27.0
121   134.0   79.0   44.0
124    30.0  115.0  100.0
125    19.0  141.0   70.0
126    57.0  145.0   10.0
127     4.0  131.0  115.0
128   111.0   57.0  123.0
129    63.0   51.0   50.0
130   125.0  133.0  127.0
131    30.0    7.0   43.0
132    64.0   63.0   61.0
133    15.0  142.0   76.0
134   135.0   80.0   78.0
135    73.0  104.0   36.0
136    53.0  121.0   71.0
138   119.0  124.0  135.0
139    98.0  146.0  110.0
140   104.0  140.0   63.0
141    74.0   92.0  147.0
142    94.0   20.0  108.0
143   149.0   14.0    8.0
144     5.0   67.0    2.0
145   141.0   60.0   68.0
146    44.0   92.0  141.0
147    84.0  116.0  142.0
148    25.0   59.0  126.0
149    83.0   63.0   54.0

[137 rows x 3 columns]

In [34]:
cond = (df2<60).any(axis=1)
index = df2[cond].index
df2.drop(labels=index)

     Python   Math     En
0      61.0   77.0  137.0
1      93.0   61.0  123.0
16    118.0   95.0  135.0
23    113.0   87.0   77.0
35     98.0  131.0  140.0
41    149.0   93.0   87.0
43    133.0   64.0  122.0
44    124.0  103.0  109.0
50     60.0  110.0  139.0
53    122.0  115.0   92.0
59     91.0   60.0  122.0
60    129.0   64.0  135.0
68     86.0   82.0  100.0
74    145.0   98.0   61.0
79     91.0   83.0   83.0
80    122.0   62.0  136.0
84     80.0   76.0  103.0
85    117.0   75.0  115.0
87     96.0  135.0  100.0
90    149.0  121.0  137.0
91     89.0  116.0  138.0
98    122.0   73.0  130.0
100   126.0   78.0   85.0
110   108.0  101.0   72.0
130   125.0  133.0  127.0
132    64.0   63.0   61.0
134   135.0   80.0   78.0
138   119.0  124.0  135.0
139    98.0  146.0  110.0
140   104.0  140.0   63.0
141    74.0   92.0  147.0
145   141.0   60.0   68.0
147    84.0  116.0  142.0

In [38]:
#平均分小于60的进行过滤
cond = df2.mean(axis=1) <90

index = df2[cond].index
df2.drop(index)

     Python   Math     En
0      61.0   77.0  137.0
1      93.0   61.0  123.0
8      76.0   54.0  148.0
16    118.0   95.0  135.0
19     52.0  135.0  144.0
23    113.0   87.0   77.0
35     98.0  131.0  140.0
37    144.0   47.0  127.0
41    149.0   93.0   87.0
43    133.0   64.0  122.0
44    124.0  103.0  109.0
50     60.0  110.0  139.0
53    122.0  115.0   92.0
59     91.0   60.0  122.0
60    129.0   64.0  135.0
74    145.0   98.0   61.0
80    122.0   62.0  136.0
85    117.0   75.0  115.0
86    106.0   44.0  120.0
87     96.0  135.0  100.0
90    149.0  121.0  137.0
91     89.0  116.0  138.0
98    122.0   73.0  130.0
99    114.0   47.0  145.0
100   126.0   78.0   85.0
105    48.0   97.0  134.0
110   108.0  101.0   72.0
128   111.0   57.0  123.0
130   125.0  133.0  127.0
134   135.0   80.0   78.0
138   119.0  124.0  135.0
139    98.0  146.0  110.0
140   104.0  140.0   63.0
141    74.0   92.0  147.0
146    44.0   92.0  141.0
147    84.0  116.0  142.0

In [41]:
#小于30分的,大于100分的,
cond1=df2.mean(axis=1)<60
cond1

0      False
1      False
2      False
3       True
4      False
5      False
6      False
7      False
8      False
9       True
12     False
13      True
15     False
16     False
17     False
18     False
19     False
20     False
22      True
23     False
24      True
25      True
26     False
27     False
28      True
29      True
31      True
32      True
33      True
34     False
       ...
117     True
118     True
119     True
120     True
121    False
124    False
125    False
126    False
127    False
128    False
129     True
130    False
131     True
132    False
133    False
134    False
135    False
136    False
138    False
139    False
140    False
141    False
142    False
143     True
144     True
145    False
146    False
147    False
148    False
149    False
Length: 137, dtype: bool

In [42]:
cond2 = df2.mean(axis=1)>100
cond2

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
12     False
13     False
15     False
16      True
17     False
18     False
19      True
20     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
31     False
32     False
33     False
34     False
       ...
117    False
118    False
119    False
120    False
121    False
124    False
125    False
126    False
127    False
128    False
129    False
130     True
131    False
132    False
133    False
134    False
135    False
136    False
138     True
139     True
140     True
141     True
142    False
143    False
144    False
145    False
146    False
147     True
148    False
149    False
Length: 137, dtype: bool

In [45]:
#或运算
cond = cond1 | cond2
df2[cond]

     Python   Math     En
3       6.0    5.0  116.0
9      74.0    8.0   35.0
13     11.0   12.0   97.0
16    118.0   95.0  135.0
19     52.0  135.0  144.0
22     35.0   43.0   41.0
24     37.0   19.0  111.0
25     21.0   68.0   90.0
28     44.0   28.0  105.0
29     63.0   43.0   68.0
31     43.0   85.0   30.0
32     26.0   60.0   55.0
33     38.0   74.0    7.0
35     98.0  131.0  140.0
37    144.0   47.0  127.0
38      4.0    9.0  136.0
39     74.0    2.0   63.0
40     10.0   67.0   12.0
41    149.0   93.0   87.0
43    133.0   64.0  122.0
44    124.0  103.0  109.0
45     50.0   37.0   42.0
47     63.0   46.0   31.0
48      4.0   48.0   68.0
49     85.0   70.0   11.0
50     60.0  110.0  139.0
51      3.0   74.0   44.0
53    122.0  115.0   92.0
56     28.0  117.0   11.0
60    129.0   64.0  135.0
..      ...    ...    ...
80    122.0   62.0  136.0
85    117.0   75.0  115.0
87     96.0  135.0  100.0
88     28.0   60.0   75.0
89     63.0   94.0   21.0
90    149.0  121.0  137.0
91     89.0  116.0  138.0
93     37.0   75.0   19.0
96      8.0   90.0   13.0
97      3.0  108.0   45.0
98    122.0   73.0  130.0
99    114.0   47.0  145.0
103    19.0   78.0    5.0
104    39.0   98.0    1.0
111    18.0   22.0  109.0
112    61.0  106.0   12.0
117    18.0   69.0   68.0
118    70.0   66.0   31.0
119     7.0   10.0  113.0
120    22.0  127.0   27.0
129    63.0   51.0   50.0
130   125.0  133.0  127.0
131    30.0    7.0   43.0
138   119.0  124.0  135.0
139    98.0  146.0  110.0
140   104.0  140.0   63.0
141    74.0   92.0  147.0
143   149.0   14.0    8.0
144     5.0   67.0    2.0
147    84.0  116.0  142.0

[67 rows x 3 columns]

In [52]:
df = DataFrame(np.random.randint(0,150,size=(5,3)),columns=['Python','En','Math'])
df

   Python   En  Math
0       0   51   143
1      20   82   127
2     120   92     8
3     145  135    77
4      77   48    46

In [54]:
df['Python'][0]=None
df['En'][3]=np.NAN

C:\Users\陈文亮\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

D:\Coding\Anaconda3-5.3.1-Windows-x86_64\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [55]:
df

   Python    En  Math
0     NaN  51.0   143
1    20.0  82.0   127
2   120.0  92.0     8
3   145.0   NaN    77
4    77.0  48.0    46

In [56]:
df.fillna(60) #填充一个固定值

   Python    En  Math
0    60.0  51.0   143
1    20.0  82.0   127
2   120.0  92.0     8
3   145.0  60.0    77
4    77.0  48.0    46

In [57]:
df.fillna(value=df.mean()) #填充平均分

   Python     En  Math
0    90.5  51.00   143
1    20.0  82.00   127
2   120.0  92.00     8
3   145.0  68.25    77
4    77.0  48.00    46

In [58]:
df.fillna(value=df.median()) #填充中位数

   Python    En  Math
0    98.5  51.0   143
1    20.0  82.0   127
2   120.0  92.0     8
3   145.0  66.5    77
4    77.0  48.0    46

In [62]:
df.fillna(method= 'pad',axis=1) #method : {'backfill', 'bfill', 'pad', 'ffill', None

   Python     En   Math
0     NaN   51.0  143.0
1    20.0   82.0  127.0
2   120.0   92.0    8.0
3   145.0  145.0   77.0
4    77.0   48.0   46.0