In [65]:
# pandas的数据结构
# 数据分析三剑客 numpy pandas matplotliab.pyplot 绘图 可视化
import numpy as np
import matplotlib.pyplot as plt

In [66]:
import pandas as pd

In [67]:
from pandas import Series,DataFrame

In [68]:
s = Series(data = np.random.randint(0,150,size=10),index=list('asdfghjklo'),name='python')
s

a     96
s    132
d    133
f     14
g     77
h      2
j     45
k     60
l     20
o    117
Name: python, dtype: int32

In [69]:
s2=Series({'a':144,'b':137})
s2

a    144
b    137
dtype: int64

In [70]:
type(s)

pandas.core.series.Series

In [71]:
s[['a','d']]

a     96
d    133
Name: python, dtype: int32

In [72]:
s['a']

96

In [73]:
s[0]

96

In [74]:
s.iloc[0]

96

In [75]:
    s.loc['a']

96

In [76]:
s['a':'l']

a     96
s    132
d    133
f     14
g     77
h      2
j     45
k     60
l     20
Name: python, dtype: int32

In [77]:
s[::2]

a     96
d    133
g     77
j     45
l     20
Name: python, dtype: int32

In [78]:
s[['d','f']] = np.NaN

In [79]:
s.isnull()

a    False
s    False
d     True
f     True
g    False
h    False
j    False
k    False
l    False
o    False
Name: python, dtype: bool

In [80]:
cond = s.isnull()
s[cond]

d   NaN
f   NaN
Name: python, dtype: float64

In [81]:
cond2 = s.notnull()  #帅选非空数据
s[cond2]

a     96.0
s    132.0
g     77.0
h      2.0
j     45.0
k     60.0
l     20.0
o    117.0
Name: python, dtype: float64

In [82]:
s3 = s+10
s3

a    106.0
s    142.0
d      NaN
f      NaN
g     87.0
h     12.0
j     55.0
k     70.0
l     30.0
o    127.0
Name: python, dtype: float64

In [83]:
s3 = s.add(10)
s3

a    106.0
s    142.0
d      NaN
f      NaN
g     87.0
h     12.0
j     55.0
k     70.0
l     30.0
o    127.0
Name: python, dtype: float64

In [84]:
li = ['xxx.mp3','sfsa.wav']
li

['xxx.mp3', 'sfsa.wav']

In [85]:
def count_suffix(li):
    return Series([l.split('.')[-1] for l in li]).value_counts()

In [86]:
count_suffix(li)

mp3    1
wav    1
dtype: int64

In [87]:
s.T
s

a     96.0
s    132.0
d      NaN
f      NaN
g     77.0
h      2.0
j     45.0
k     60.0
l     20.0
o    117.0
Name: python, dtype: float64

In [88]:
df = DataFrame(data = {'python':np.random.randint(0,150,size=5),'math':np.random.randint(0,150,size=5),'en':np.random.randint(0,150,size=5),},index = list('ABCDE'))
df

   python  math   en
A      93   105  112
B     119    27   91
C      84   113   44
D      23    30   96
E      30   145   83

In [89]:
df2=DataFrame(data = np.random.randint(0,150,size=(10,4)) ,index=list('asdfghjklm'),columns=['python','math','en','physic'] )
df2

   python  math   en  physic
a      15   119   35      76
s      14   138   50      60
d     108    30  148      96
f     122    12  125     103
g      47    83    1      58
h     143    80   82     118
j     128    65   52      56
k     143    91   13      56
l     133    13   13     109
m     137   142   90     136

In [90]:
df2.to_csv('./data.txt') #seq默认,分隔

In [91]:
df2.to_excel('./data.xlsx')

In [118]:
df3 = pd.read_csv('./data.txt')

In [93]:
df4 = df3.rename(mapper = {'Unnamed: 0':'index'},axis = 1) 
#1的意识是使用0值表示沿着每一列或行标签\索引值向下执行方法
# 使用1值表示沿着每一行或者列标签模向执行对应的方法
df4.set_index(keys='index')

       python  math   en  physic
index
a          15   119   35      76
s          14   138   50      60
d         108    30  148      96
f         122    12  125     103
g          47    83    1      58
h         143    80   82     118
j         128    65   52      56
k         143    91   13      56
l         133    13   13     109
m         137   142   90     136

In [94]:
df2.python

a     15
s     14
d    108
f    122
g     47
h    143
j    128
k    143
l    133
m    137
Name: python, dtype: int32

In [95]:
df2.math

a    119
s    138
d     30
f     12
g     83
h     80
j     65
k     91
l     13
m    142
Name: math, dtype: int32

In [96]:
df2.loc['a']

python     15
math      119
en         35
physic     76
Name: a, dtype: int32

In [97]:
df2.loc[['a','g']]

   python  math  en  physic
a      15   119  35      76
g      47    83   1      58

In [98]:
df2.iloc[[3,5]]

   python  math   en  physic
f     122    12  125     103
h     143    80   82     118

In [99]:
df2['puthon':'en'] #

KeyError: 'puthon'

In [100]:
df2['a':'g']

   python  math   en  physic
a      15   119   35      76
s      14   138   50      60
d     108    30  148      96
f     122    12  125     103
g      47    83    1      58

In [101]:
df2.loc['a':'h']

   python  math   en  physic
a      15   119   35      76
s      14   138   50      60
d     108    30  148      96
f     122    12  125     103
g      47    83    1      58
h     143    80   82     118

In [102]:
df2.iloc[0:5]

   python  math   en  physic
a      15   119   35      76
s      14   138   50      60
d     108    30  148      96
f     122    12  125     103
g      47    83    1      58

In [103]:
df2.lo['python':'en'] #对列不可以切片

AttributeError: 'DataFrame' object has no attribute 'lo'

In [104]:
q

NameError: name 'q' is not defined

In [ ]:
df2+10

In [ ]:
df2.divide(3).round(2)

In [ ]:
df2.corr()

In [105]:
df2.any()

python    True
math      True
en        True
physic    True
dtype: bool

In [110]:
df2.info

<bound method DataFrame.info of    python  math   en  physic
a      15   119   35      76
s      14   138   50      60
d     108    30  148      96
f     122    12  125     103
g      47    83    1      58
h     143    80   82     118
j     128    65   52      56
k     143    91   13      56
l     133    13   13     109
m     137   142   90     136>

In [111]:
df2 = DataFrame(np.random.randint(0,150,size=(6,3)),index = list('ABCDEF'),columns=['Python','Math','En'])
df2

   Python  Math   En
A     102    79   33
B     101   142    7
C      48    32   46
D      91   120   78
E     119    28  128
F      95    90   17

In [114]:
df1 = DataFrame(np.random.randint(0,150,size=(6,3)),index = list('ABCDEF'),columns=['Python','Math','En'])

In [112]:
df1+df2

NameError: name 'df1' is not defined

In [115]:
df1.add(df2,fill_value=0)

   Python  Math   En
A     213   174   43
B     143   262  143
C      93    55   89
D     172   231  185
E     268   134  199
F     240   232  146

In [121]:
df2.loc['A']

Python    102
Math       79
En         33
Name: A, dtype: int32