In [1]:
import numpy as np
import pandas as pd
#from sklearn.neighbors import KNeighborsClassifier

#from sklearn  import *
from sklearn.neighbors import KNeighborsClassifier

In [6]:
movie = pd.read_excel('./movie.xlsx',sheet_name=1) #读取数据
movie

    电影名称  武打镇头  接咖镜头 分类情况
0   大话西游    36     1  动作片
1    杀破狼    43     2  动作片
2     前任     0    10  爱情片
3      晚    59     1  动作片
4  泰坦尼克号     1    15  爱情片
5   星语心愿     2    19  爱情片

In [7]:
X = movie[['武打镇头','接咖镜头']]
X

   武打镇头  接咖镜头
0    36     1
1    43     2
2     0    10
3    59     1
4     1    15
5     2    19

In [8]:
y = movie['分类情况']
y

0    动作片
1    动作片
2    爱情片
3    动作片
4    爱情片
5    爱情片
Name: 分类情况, dtype: object

In [9]:
knn = KNeighborsClassifier(n_neighbors=5)

#这个方法 就是训练数据   X数据   y目标值
knn.fit(X,y)

KNeighborsClassifier()

In [12]:
#使用算法 预测新电影
#碟中谍   战狼   山楂树
X_test = pd.DataFrame({'武打镇头':[100,200,0],'接咖镜头':[3,1,10]})
X_test

   武打镇头  接咖镜头
0   100     3
1   200     1
2     0    10

In [13]:
knn.predict(X_test) #对X_test进行预测

array(['动作片', '动作片', '爱情片'], dtype=object)

In [21]:
s = ((movie['武打镇头'] - 100)**2 + (movie['接咖镜头']-3)**2)**0.5
index = s.sort_values().index
index

Int64Index([3, 1, 0, 5, 4, 2], dtype='int64')

In [22]:
movie['分类情况'][index[:5]] #找最近的五个邻居,最多谁就是

3    动作片
1    动作片
0    动作片
5    爱情片
4    爱情片
Name: 分类情况, dtype: object